.customerOrderHistory {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 10px 20px;
  overflow-y: auto;

  .historyList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
