.orderTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 10px;
  background-color: var(--colorBackgroundPrimary);
  border-bottom: 1px solid var(--colorBorderPrimary);
  user-select: none;
  z-index: 10;
  position: sticky;
  top: 0;

  .tabContainer {
    display: flex;
    gap: 10px;

    .tab {
      position: relative;
      display: flex;
      padding: 10px 20px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease-out;

      @media (hover: hover) {
        &:hover {
          span {
            width: 30%;
            transition: width 0.05s ease-out;
          }
        }
      }

      &.active {
        span {
          width: 90%;
          transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        p {
          color: hsl(var(--colorBrandPrimary));
          font-weight: 600;
        }
      }

      span {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: hsl(var(--colorBrandPrimary));
        border-radius: 3px 3px 0 0;
        transition: width 0.1s ease-in;
      }

      p {
        font-size: 13px;
        font-variation-settings:
          "wdth" 75,
          "wght" 500;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        transition: all 0.2s ease-out;
      }
    }
  }
}

@media (width <= 750px) {
  .orderTabs {
    .tabContainer .tab p {
      font-size: 11px;
    }
  }
}
