.customerLoginSection {
  position: relative;
  width: 100dvw;
  min-height: calc(100dvh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0 4rem 0;
  z-index: 100;

  .loginAnim {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .welcomeAnim {
      width: 80%;
      height: 80%;
    }
  }

  .customerLoginContainer {
    width: 50%;
    min-width: 600px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .customerLoginCard {
      width: 500px;
      border-radius: 18px;
      box-shadow:
        0 20px 40px rgb(0 0 0 / 20%),
        0 20px 40px hsl(0deg 0 100% / 15%);
      padding: 40px 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: var(--colorBackgroundPrimary);
      transition: all var(--animDurSlow) var(--cubicBezierPrimary);

      .header {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;

        h3 {
          width: 100%;
          font-size: 42px;
          font-variation-settings:
            "wdth" 75,
            "wght" 300;
          text-align: center;
          user-select: none;
          margin: 0;
        }

        h4 {
          width: 100%;
          font-size: 16px;
          font-variation-settings:
            "wdth" 75,
            "wght" 400;
          text-align: center;
          user-select: none;
          margin: 8px 0 0 0;
          opacity: 0.7;
        }

        .logo {
          font-weight: 800;
          font-size: 42px;
          color: hsl(var(--colorBrandPrimary));
        }
      }

      .actionButtons {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        button {
          width: 100%;
          height: 60px;
          border: none;
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          font-size: 18px;
          font-variation-settings:
            "wdth" 75,
            "wght" 600;
          cursor: pointer;
          transition: all var(--animDurFast) var(--cubicBezierPrimary);

          svg {
            width: 24px;
            height: 24px;
          }

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
          }

          &:active {
            transform: translateY(0);
          }
        }

        .coffeeShopsButton {
          background-color: var(--colorBackgroundSecondary);
          color: var(--colorContentInverse);
          border: 1px solid hsl(var(--colorBrandPrimary));

          &:hover {
            opacity: 0.9;
          }
        }

        .loginButton {
          background-color: var(--colorBackgroundSecondary);
          color: var(--colorContentPrimary);
          border: 2px solid hsl(var(--colorBrandPrimary));

          &:hover {
            border-color: var(--colorPrimary);
            color: var(--colorPrimary);
          }
        }
      }

      .adminLinkContainer {
        margin-top: 32px;
        text-align: center;

        .adminText {
          font-size: 14px;
          margin: 0;
          opacity: 0.7;
          font-variation-settings:
            "wdth" 75,
            "wght" 400;

          .adminLink {
            color: var(--colorPrimary);
            text-decoration: none;
            font-variation-settings:
              "wdth" 75,
              "wght" 600;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media (width <= 1100px) {
  .customerLoginSection {
    .customerLoginContainer {
      min-width: 500px;

      .customerLoginCard {
        transform: scale(0.9);
      }
    }
  }
}

@media (width <= 830px) {
  .customerLoginSection {
    flex-direction: column;

    .loginAnim {
      flex: 1;
      justify-content: center;
      align-items: flex-start;
    }

    .customerLoginContainer {
      margin: 0 0 50px;
    }
  }
}

@media (width <= 600px) {
  .customerLoginSection {
    .loginAnim {
      width: 90%;

      .welcomeAnim {
        margin: auto;
        width: 100%;
        height: 65%;
      }
    }

    .customerLoginContainer {
      min-width: 100%;
      margin: 0 0 50px;

      .customerLoginCard {
        width: 100%;
        border-radius: 40px 40px 0 0;
        box-shadow: 0 -5px 5px rgb(0 0 0 / 10%);
        transform: scale(1);
        padding: 32px 24px;

        .header {
          h3 {
            font-size: 32px;
          }

          h4 {
            font-size: 14px;
          }
        }

        .actionButtons {
          button {
            height: 54px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (width <= 430px) {
  .customerLoginSection {
    .loginAnim {
      .welcomeAnim {
        height: 45%;
      }
    }
  }
}
