.footerSection {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorBackgroundPrimary);

  p {
    font-size: 14px;
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: var(--colorContentPrimary);
  }
}
