.homepage {
  --navHeight: 80px;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .homepageSections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--colorBackgroundPrimary);
    animation: fadeIn 0.5s linear forwards;

    > .scrollbarVertical {
      transform: translateX(-10px);
    }

    .landingSection {
      position: relative;
      display: flex;
      width: 100dvw;
      height: 100dvh;
    }
  }
}

@media (width <= 600px) {
  .homepage {
    .homepageSections {
      &.menuOpen {
        filter: blur(50px);
        transition: filter 0.2s ease-in;
      }
    }
  }
}
