.ordersCard {
  position: relative;
  width: 100%;
  height: 110px;
  cursor: pointer;
  box-sizing: content;
  border: 10px solid transparent;
  border-width: 6px 20px;

  .xButton {
    width: 100%;
    height: 32px;
    border: none;
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 12px;
    cursor: pointer;
    font-variation-settings:
      "wdth" 75,
      "wght" 500;
    text-transform: none;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    overflow: hidden;
    color: var(--colorBackgroundPrimary);
    background-color: hsl(var(--colorBrandPrimary));
    border: 1px solid transparent;

    @media (hover: hover) {
      &:hover {
        color: var(--colorBackgroundPrimary);
        background-color: hsl(var(--colorBrandPrimary));
        filter: brightness(1.1);
      }
    }

    &:active {
      filter: brightness(0.9);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &.accept {
      color: white;
      background-color: #045f09;
      border-color: #045f09;
      margin-top: 5px;
    }

    &.reject {
      color: white;
      background-color: #a10000;
      border-color: #a10000;
    }
  }

  &.active {
    margin: 2px 0;
    border-width: 0 14px;
    cursor: auto;

    .content {
      background-color: hsl(var(--colorBrandPrimary));
      box-shadow: 0 0 12px hsl(var(--colorBrandPrimary));
      transition: all 0.2s ease-out;

      > p {
        color: white;
      }
    }
  }

  &.reject {
    .content {
      background-color: #a10000;
      box-shadow: 0 0 5px #a10000;

      > p {
        &.total {
          pointer-events: none !important;

          &::after {
            content: "" !important;
          }
        }
      }

      .options {
        .xButton {
          &.accept {
            color: white;
            background-color: #045f09;
            border-color: #045f09;
          }

          &.reject {
            color: white;
            background-color: #a10000;

            @media (hover: hover) {
              &:hover {
                background-color: #a10000;
              }
            }
          }
        }
      }
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 98px;
    background-color: var(--colorBackgroundPrimary);
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(150 150 150 / 15%);
    overflow: hidden;
    padding: 0;

    > p {
      position: absolute;
      user-select: none;
      margin: 0;

      &.table {
        top: 15px;
        left: 20px;
        font-variation-settings:
          "wdth" 75,
          "wght" 500;
        font-size: 16px;
      }

      &.name {
        top: 37px;
        left: 20px;
        font-variation-settings:
          "wdth" 75,
          "wght" 400;
        font-size: 12px;
      }

      &.total {
        bottom: 0;
        left: 0;
        font-variation-settings:
          "wdth" 75,
          "wght" 500;
        letter-spacing: 1.02px;
        font-size: 14px;
        padding: 15px 20px;
        cursor: pointer;
        pointer-events: none;
      }

      &.noContent {
        bottom: 0;
        left: 0;
        font-variation-settings:
          "wdth" 75,
          "wght" 500;
        letter-spacing: 1.02px;
        font-size: 14px;
        padding: 15px 20px;
        cursor: pointer;
        pointer-events: none;
      }
    }

    .options {
      position: relative;
      width: 170px;
      height: 100%;
      display: none;
      flex-direction: column-reverse;
      align-items: flex-end;
      float: right;
      padding: 15px;
      overflow: hidden;
      user-select: none;
      gap: 8px;
    }
  }
}

@media (width <= 750px) {
  .ordersCard {
    &.active {
      > .content {
        background-color: var(--colorBackgroundPrimary);

        > p {
          color: var(--colorContentPrimary);
        }

        > p.total {
          pointer-events: all;

          &::after {
            content: "(show details)";
            font-size: 10px;
            margin-left: 8px;
            text-transform: capitalize;
          }
        }

        > p.noContent {
          pointer-events: all;

          &::after {
            font-size: 10px;
            margin-left: 8px;
          }
        }

        .options {
          display: flex;
        }
      }
    }

    &.busy {
      > .content {
        .options {
          display: flex;
        }
      }
    }
  }
}

@media (width <= 530px) {
  .ordersCard {
    height: 130px;
  }
}
